/* mobile responsive style  */

@media screen and (max-width: 576px) {
  .nav,
  .navItems ul,
  .teamContainer {
    flex-direction: column;
    gap: 25px;
  }

  .bannerContainer {
    flex-direction: column-reverse;
    gap: 25px;
  }

  .teamDesc {
    text-align: center;
  }
}

/* tablet responsive style  */

@media screen and (min-width: 577px) and (max-width: 768px) {
  .bannerContainer {
    flex-direction: column-reverse;
    gap: 50px;
  }
  .teamContainer {
    flex-direction: column;
  }
  .teamDesc {
    margin: auto;
    text-align: center;
  }
}
