/* mobile responsive style  */

@media screen and (max-width: 576px) {
  /* nav,banner,team & online game section responsive  */
  .nav,
  .navItems ul,
  .teamContainer {
    flex-direction: column;
    gap: 25px;
  }

  .bannerContainer {
    flex-direction: column-reverse;
    gap: 25px;
  }

  .bannerWrapper {
    background-position: left bottom;
  }

  .teamDesc {
    text-align: center;
  }

  .onlineGameCards {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  /* playInstantly & playGame  responsive*/

  .playInstantlyContainer {
    flex-direction: column;
    gap: 40px;
  }

  .playGameContainer {
    flex-direction: column-reverse;
    gap: 40px;
  }

  .playInstantlyImages img,
  .playGameImages img {
    max-width: 260px;
  }

  .talkingImg {
    left: 12px;
    bottom: -30px;
  }

  .overlayImage {
    right: 12px;
    bottom: -30px;
  }

  .talkingImg img,
  .overlayImage img {
    max-width: 120px;
  }

  .playGameImages,
  .playGameDesc,
  .playInstantlyDesc,
  .playInstantlyImages {
    width: 400px;
    margin: auto;
    text-align: center;
  }

  .playInstantlyDesc p {
    margin: auto;
    width: 100%;
  }

  .playGameDesc p {
    font-weight: 0.8rem;
  }

  /* topGame Responsive */

  .topGame {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .topGameItems img {
    width: 40%;
  }
  .topGameItems p {
    font-weight: 400;
    font-size: 0.7rem;
  }

  /* footer Responsive */

  .footerContainer {
    max-width: 100%;
  }

  .footerList ul {
    grid-template-columns: repeat(3, 1fr);
    font-size: 1.1rem;
    gap: 20px;
  }

  .footerIcon ul {
    grid-template-columns: repeat(3, 1fr);
    font-size: 3rem;
    gap: 40px;
  }

  .footerTerms ul {
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.1rem;
    gap: 20px;
  }
}

/* tablet responsive style  */

@media screen and (min-width: 577px) and (max-width: 768px) {
  /* nav,banner,team & online game section responsive  */
  .bannerContainer {
    flex-direction: column-reverse;
    gap: 50px;
  }
  .bannerWrapper {
    background-position: left bottom;
  }
  .teamContainer {
    flex-direction: column;
  }
  .teamDesc {
    margin: auto;
    text-align: center;
  }
  .onlineGameCards {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  /* playInstantly & playGame responsive */

  .playInstantlyContainer {
    flex-direction: column;
    gap: 80px;
  }

  .playGameContainer {
    flex-direction: column-reverse;
    gap: 80px;
  }

  .playInstantlyImages img,
  .playGameImages img {
    max-width: 450px;
  }

  .talkingImg img,
  .overlayImage img {
    max-width: 180px;
  }

  .talkingImg {
    left: 10px;
    bottom: -50px;
  }

  .overlayImage {
    right: 10px;
    bottom: -50px;
  }

  .playGameImages,
  .playGameDesc,
  .playInstantlyDesc,
  .playInstantlyImages {
    width: 650px;
    margin: auto;
    text-align: center;
  }

  .playInstantlyDesc p {
    margin: auto;
    width: 100%;
  }

  .playGameDesc p {
    font-weight: 0.8rem;
  }

  /* topGame Responsive */

  .topGame {
    gap: 20px;
    padding: 0px 40px;
    justify-content: left;
  }

  .topGameItems img {
    width: 50%;
  }
  .topGameItems p {
    font-weight: 500;
    font-size: 0.9rem;
  }

  /* footer Responsive */

  .footerContainer {
    max-width: 100%;
  }

  .footerList ul {
    grid-template-columns: repeat(3, 1fr);
    font-size: 1.1rem;
    gap: 20px;
  }

  .footerIcon ul {
    grid-template-columns: repeat(3, 1fr);
    font-size: 3rem;
    gap: 40px;
  }

  .footerTerms ul {
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.1rem;
    gap: 20px;
  }
}
