/* mobile responsive style  */

@media screen and (max-width: 576px) {
  .nav,
  .navItems ul {
    flex-direction: column;
    gap: 25px;
  }

  .bannerContainer {
    flex-direction: column-reverse;
    gap: 25px;
  }
}

/* tablet responsive style  */

@media screen and (min-width: 577px) and (max-width: 768px) {
  .bannerContainer {
    flex-direction: column-reverse;
    gap: 50px;
  }
}
