/* imported font  */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* css variable  */

:root {
  --primaryColor: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  --linearColor: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  --btnColor: #4ec5f7;
  --descTextColor: #534c64;
  --titleTextColor: #0b0223;
  --colorWhite: #fff;
  --navColor: #3c354f;
  --footerTextColor: rgba(255, 255, 255, 0.6);
  --navBackground: rgba(11, 2, 35, 0.1);
  --primaryBackground: linear-gradient(
    223deg,
    rgba(140, 87, 238, 0.03) 0%,
    rgba(241, 68, 174, 0.03) 100%
  );
  --secondaryBackground: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}

/* universal style  */

* {
  margin: 0;
  padding: 0;
}

/* elements selector style  */

body {
  font-family: "Work Sans", sans-serif;
}

section {
  padding: 3.5rem 0;
}

/* common style  */
.container {
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.primaryColor {
  background: var(--primaryColor);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.linearColor {
  background: var(--linearColor);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.titleColor {
  background: var(--titleTextColor);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.colorWhite {
  background: var(--colorWhite);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footerTextColor {
  background: var(--footerTextColor);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.descTextColor {
  background: var(--descTextColor);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  font-size: 1.2rem;
}

.primaryBtn {
  border: none;
  outline: none;
  background: var(--primaryColor);
  color: var(--colorWhite);
  padding: 20px 40px;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
}
.secoundaryBtn {
  border: none;
  outline: none;
  background: var(--btnColor);
  color: var(--colorWhite);
  padding: 20px 40px;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
}
/* nav related style  */

.navBarWrapper {
  background: var(--colorWhite);
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
}
.brand {
  display: flex;
  gap: 10px;
  align-items: center;
}

.brandTitle {
  font-size: 2.2rem;
}

.brand img {
  width: 50px;
}

.navItems ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
}
.navItems ul li {
  color: var(--navColor);
  font-size: 1rem;
  font-weight: 600;
}
.navItems ul li a {
  text-decoration: none;
  color: var(--navColor);
  font-size: 1rem;
  font-weight: 600;
}

.followUs {
  background: var(--navBackground);
  padding: 15px 25px;
  border-radius: 5px;
  display: flex;
  gap: 10px;
}

.followUs .youtubeIcon {
  color: #f00044;
}
.followUs .tiktokIcon {
  color: #000000;
}

/* banner section related style  */

.bannerWrapper {
  background: var(--primaryBackground);
  background-image: url("../images/bannerBackground.png");
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 8rem;
  padding-bottom: 2rem;
}

.bannerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bannerContent h3 {
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
}
.bannerContent h1 {
  font-size: 5rem;
  font-weight: 800;
}

.bannerItemList {
  list-style: none;
}
.bannerItemList li {
  margin-top: 15px;
}

.playIcon {
  border: 1px solid #0b0223;
  border-radius: 50%;
  padding: 5px;
  font-size: 0.5rem;
}

.playIcon,
.downloadIcon,
.userIcon {
  margin-right: 10px;
}

.bannerBtn {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.bannerImg {
  max-width: 500px;
}
.bannerImg img {
  width: 100%;
}

/* team Section related style  */

.teamSection {
  background: var(--secondaryBackground);
}

.teamContainer {
  display: flex;
  gap: 20px;
}

.teamImg img {
  max-width: 100%;
}

.teamDesc {
  max-width: 500px;
  text-align: right;
}

.teamDesc h2 {
  font-weight: 700;
  font-size: 2.5rem;
}

.teamDesc p {
  font-size: 1.1rem;
  line-height: 1.8rem;
  padding: 20px 0px;
}

.ourPurpose p {
  font-size: 1.8rem;
  font-weight: 700;
}
.ourPurpose small {
  font-size: 1.2rem;
  font-weight: 600;
}

/* onlineGame related style  */

.onlineGameHeader {
  text-align: center;
}

.onlineGameHeader h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.onlineGameHeader p {
  font-size: 1.1rem;
  font-weight: 500;
}

.onlineGameCards {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.card {
  width: 250px;
  position: relative;
}
.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 86%;
  border-radius: 8px;
  background-color: #000000;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 96%;
  height: 84%;
  border-radius: 13px;
  border: 5px solid #f948b2;
  opacity: 0;
}

.card:hover::before {
  opacity: 0.5;
}
.card:hover::after {
  opacity: 1;
}

.card:hover .cardIcon {
  opacity: 1;
}

.card:hover {
  cursor: pointer;
}
.card img {
  max-width: 100%;
  height: 86%;
}

.card p {
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 20px;
}

.playBtn {
  color: black;
  font-size: 20px;
  border-radius: 50%;
  padding: 10px;
  background: var(--colorWhite);
  box-shadow: 0px 4px 30px 0px rgba(255, 255, 255, 0.05);
  border: none;
  outline: none;
}

.cardIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease;
  text-align: center;
}

.cardIcon p {
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;
  left: -20%;
}

/* playInstantly section related style  */

.playInstantlyContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 170px;
}

.playInstantlyDesc {
  text-align: right;
}
.playInstantlyDesc h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

.playInstantlyDesc p {
  font-size: 1rem;
  font-weight: 500;
  padding: 20px 0px;
  width: 340px;
  line-height: 1.6rem;
}

.playInstantlyImages img {
  max-width: 550px;
}
.talkingImg img {
  max-width: 220px;
}
.playInstantlyImageWrapper {
  position: relative;
}

.talkingImg {
  position: absolute;
  left: -100px;
  bottom: -80px;
}

/* play Game related style  */

.playGameContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 170px;
}

.playGameImages img {
  max-width: 550px;
}

.overlayImage img {
  max-width: 220px;
}

.playGameImageWrapper {
  position: relative;
}

.overlayImage {
  position: absolute;
  right: -100px;
  bottom: -80px;
}

.playGameDesc h2 {
  font-size: 2.5rem;
  font-weight: 700;
}
.playGameDesc p {
  font-size: 1rem;
  font-weight: 500;
  padding: 20px 0px;
  line-height: 1.6rem;
}

/* career section related style  */

.careersContainer {
  background: var(--primaryColor);
  color: #fff;
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
}

.careerInfoContainer {
  padding: 120px 0px 80px 160px;
}

.careersDesc h2 {
  font-size: 2.2rem;
  font-weight: 700;
}
.careersDesc p {
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.5rem;
  width: 600px;
  margin: 20px 0px;
}

.careerInfoWrapper {
  display: flex;
  justify-content: space-between;
}

.careerInfoWrapper :last-child ul {
  text-align: right;
}

.careerInfo ul {
  list-style: none;
  line-height: 2rem;
  font-weight: 600;
}
.careersImg img {
  width: 100%;
  height: 100%;
}

.positionBtn {
  border: none;
  outline: none;
  background: var(--colorWhite);
  color: #e4405f;
  padding: 20px 40px;
  border-radius: 50px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 30px;
}
/* topGame related style  */

.topGame {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}
.topGameItems {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  margin-bottom: 20px;
}

.topGameItems::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border: 2px solid #ff42a5;
  border-radius: 50px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.topGameItems:hover::before {
  opacity: 1;
}

.topGameItems:hover p {
  color: #ff42a5;
}

.topGameItems p {
  font-weight: 600;
  font-size: 0.9rem;
  color: #534c64;
  transition: 0.3s;
}

/* footer related style  */

.footer {
  background: #000000;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footerContainer {
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.footerBrand {
  display: flex;
  justify-content: center;
}
.footerList ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  list-style: none;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 30px 0px;
}

.footerIcon {
  display: flex;
  justify-content: center;
}

.footerIcon ul {
  display: grid;
  grid-template-columns: repeat(6, 5rem);
  list-style: none;
  font-weight: 600;
  font-size: 2.5rem;
  padding: 30px 0px;
}

.footerIcon ul li a {
  text-decoration: none;
}

.footerIcon ul li:first-child a i {
  color: #1da1f2;
}
.footerIcon ul li:nth-child(2) a i {
  color: #1877f2;
}
.footerIcon ul li:nth-child(3) a i {
  color: #ff0000;
}
.footerIcon ul li:nth-child(4) a i {
  color: #0a66c2;
}
.footerIcon ul li:nth-child(5) a i {
  color: #e4405f;
}
.footerIcon ul li:last-child a i {
  color: #ffffff;
}

.footerTerms {
  display: flex;
  justify-content: center;
}
.footerTerms ul {
  display: grid;
  grid-template-columns: repeat(4, 9rem);
  list-style: none;
  font-weight: 600;
  font-size: 0.8rem;
  padding: 30px 0px;
}
.copyRightText {
  font-weight: 600;
  font-size: 1.1rem;
}
